:root {
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #ccc;

    --header-height: 120px;
    --navbar-height: 48px;
    --search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.main-page-title {
    color: var(--primary-color);
    font-size: 24px;
}

.group-title {
    font-size: 3rem;
    font-weight: 600;
}

.group-info {
    font-size: 2rem;
    background-color: #f9f9f9;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 400px;
    height: 100px;
    text-align: center;
    margin-top: 24px;
    margin: auto;
}

.home-container {
    margin-top: 25rem;
}

.course-name {
    width: 100%;
    text-align: center;
    font-size: 10rem;
    font-weight: 700;
    margin: 8rem auto;
}

th {
    background-color: #4caf50;
    color: white;
    height: 60px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

td:hover {
    background-color: #e6e6e6;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 24px 0px;
}

.option {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.isolate-line {
    margin: 0 12px;
}

.option-btn {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.option-btn:hover {
    transform: scale(1.1);
}

.line-break {
    border-bottom: solid #000;
    width: 100%;
    padding: 12px 0;
}

.my-info {
    font-size: 1.4rem;
    margin: 24px;
}

.bar {
    fill: steelblue;
}

.highlight {
    fill: orange;
}

.axis-title {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.axis-x-element {
    font-size: 1.6rem;
    font-weight: 500;
}

.axis-y-element {
    font-size: 1.2rem;
    font-weight: 500;
}

.val {
    font-size: 1.6rem;
}

.overall-btn {
    padding: 12px;
    margin: 30px 0px 10px;
    border-radius: 5px;
    border: 1px solid;
    transition: all 0.3s;
}

.overall-btn:hover {
    transform: scale(1.3);
    opacity: 0.8;
}

.container {
    display: flex;
}

@media screen and (max-width: 600px) {
    table {
        max-width: 100%;
        overflow-x: auto;
    }
}
